[submodule "nuttx/core"]
	path = nuttx/core
	url = git@github.com:l-konrad/nuttx-the-screamer.git
[submodule "nuttx/apps"]
	path = nuttx/apps
	url = https://github.com/apache/nuttx-apps.git
[submodule "subprojects/libmpdclient"]
	path = subprojects/libmpdclient
	url = https://github.com/MusicPlayerDaemon/libmpdclient.git
[submodule "mpc"]
	path = mpc
	url = git@github.com:l-konrad/nuttx-mpc.git
	branch = master
